# Файлы с секретными данными
api_key.txt
*.key
*.secret

# Результаты работы программы
translated.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

